.communication
  position relative
  
textarea
  display block
  margin 2rem 0

.btn__send
  display block
  margin 2rem 0 6rem

input
  padding .6rem 0
  margin-right .4rem

.tel
  padding 1.5rem 0

.communication__listContacts
  list-style none

.communication__listContacts_tel
  padding 1.5rem 0

.communication__listContacts_home,
.communication__listContacts_tel,
.communication__listContacts_mail
  position relative
  // padding 0 0 2rem 3rem


.communication__listContacts_home:before,
.communication__listContacts_tel:before,
.communication__listContacts_mail:before
  font-family FontAwesome
  display inline-block
  left -.1rem
  
.communication__listContacts_home:before
  content '\f015'
  padding-right 0.4rem


.communication__listContacts_tel:before
  content '\f10b'
  padding-right 0.4rem

.communication__listContacts_mail:before
  content '\f003'
  padding-right 0.4rem

.link 
  text-decoration none