.communication
  position relative
  
textarea
  display block
  margin 2rem 0

.btn__send
  display block
  margin 2rem 0 6rem

input
  padding .6rem 0
  margin-right .4rem


.communication__listContacts
  list-style none
 
.communication__listContacts_home
  position relative

.communication__listContacts_tel
  position relative
  padding 1.5rem 0

.communication__listContact_mail
  position relative

.icon 
  position absolute
  left -2rem
  top 0
  font-size 22px
.icon_tel
  position absolute
  left -2rem
  // top 1.5rem
  font-size 22px

.link 
  text-decoration none
  color 