.sidebar
  position fixed

.mainHeader
  bottom 0rem
  background url('./images/bg.jpg'), url('./images/overlay.png') center / cover no-repeat
  height 100vh
  z-index 1
  position relative


.mainHeader__content
  position absolute
  right 3rem
  top 12.5rem
  text-align right
  max-width 50%
  font-weight 100

.mainHeader__avatar
  border-radius 7rem

strong
  color #fff

.mainFooter
  text-align: right
  position absolute
  bottom 2rem
  right 1rem
  width 100%
  padding 0 2.2rem

.mainFooter__icon
  font-size 1.9rem
  

.mainFooter__item
  display inline-block

.item_border
  border-left: solid 1px grey
  border-right: solid 1px grey
  padding 0 .6rem
  margin 0 .6rem


.drible,
.git,
.mail,
.twiter
  border-bottom none