.sidebar
  position fixed

.mainHeader
  bottom 0rem
  background url('./images/bg.jpg') center / cover no-repeat
  height 100vh
  z-index 1
  position relative


.mainHeader:after
  background url('./images/overlay.png')center /cover no-repeat  
  height 100vh
  z-index 2

.mainHeader__content
  position absolute
  right 3rem
  top 12.5rem
  text-align right
  max-width 50%
  font-weight 100

.mainHeader__avatar
  border-radius 7rem

strong
  color #fff

.mainHeader__link
  text-decoration none
  border-bottom dotted

.mainHeader__link:hover
  color #49bf9d
  dispalay block
  cursor pointer

.mainFooter
  position absolute
  bottom 2rem
  right 1rem
  width 50%

.mainFooter__icon
  dispalay inline

.mainFooter__footerInfo
  dispalay inline



