.articles
  h3.articles__name Recent Work
  row
    .col-sm-6
      img(src='./images/pic1.png')
      h3.articles__caption  Magna sed consequat tempus
      p.articles__info  Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      img(src='./images/pic2.png')
      h3.articles__caption Magna sed consequat tempus
      p.articles__info Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      img(src='./images/pic3.png')
      h3.articles__caption Magna sed consequat tempus
      p.articles__info Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      img(src='./images/pic4.png')
      h3.articles__caption Magna sed consequat tempus
      p.articles__info Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      img(src='./images/pic5.png')
      h3.articles__caption Magna sed consequat tempus
      p.articles__info Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      img(src='./images/pic6.png')
      h3.articles__caption Magna sed consequat tempus
      p.articles__info Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  button.btn Full Portfolio
  hr.mainInfo__line