.communication
  h2.communication__caption
  p.communication__info
  .row
    .col-md-9
      form.communication__form
        input(type="text" value="Name")
        input(type="email" value="Email")
        br
        textarea(cols="67" rows="10" value="Message")
        br
        button.btn.btn__send Send Message
    col-md-3
      ul.communication__listContacts
        li.communication__listContacts_home 1234 Somewhere Rd.
        | Nashville, TN 00000
        | United States
        li.communication__listContacts_tel 000-000-0000
        li.communication__listContact_mail
          a.link(href="#") hello@untitled.tld
