
header.mainHeader
  .mainHeader__content
    img(src="./images/avatar.png").mainHeader__avatar
    h2.mainHeader__caption
      strong I am Strata,
      | a super simple
      | responsive site template freebie
      | crafted by 
      a.mainHeader__link HTML5 UP
  .mainFooter
    ul.mainFooter__icon
      li
        a.icon__twiter
      li
        a.icon__git
      li
        a.drible
      li
        a.mail
    ul.mainFooter__footerInfo
      li
        |copyright
      li
        |Design
        a
        |HTML5 UP
      li
        |demo images:
        a
        |unsplash 
