header.mainHeader
  .mainHeader__content
    img(src="./images/avatar.png").mainHeader__avatar
    h2.mainHeader__caption
      strong I am Strata,
      | a super simple
      | responsive site template freebie
      | crafted by 
      a.link HTML5 UP
  .mainFooter
    ul.mainFooter__icon
      li.mainFooter__item
        a.twiter.link
          <i class="fa fa-twitter" aria-hidden="true"></i>
      li.mainFooter__item.link
        a.git.link
          <i class="fa fa-github" aria-hidden="true"></i>
      li.mainFooter__item
        a.drible.link
          <i class="fa fa-dribbble" aria-hidden="true"></i>
      li.mainFooter__item
        a.mail.link
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
    ul.mainFooter__footerInfo
      li.mainFooter__item
        |copyright
      li.mainFooter__item.item_border
        |Design 
        a.link HTML5 UP
      li.mainFooter__item
        |demo images: 
        a.link Unsplash 
