
header.mainHeader
  .mainHeader__content
    img(src="./images/avatar.png").mainHeader__avatar
    h2.mainHeader__caption
      strong I am Strata,
      | a super simple
      | responsive site template freebie
      | crafted by 
      a.mainHeader__link HTML5 UP
